@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}



.tattoo-main {
  display: grid;
  place-items: center;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1624px;
  margin: 0 auto;
  font-family: var(--font-sans);

}

@media (min-width: 600px) {
  .tattoo-main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 800px) {
  .tattoo-main {
    grid-template-columns: repeat(4, 1fr);
  }
}

.tattoo-card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  height: 1600px;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

.tattoo-card h2 {
  color: white;
}

.copy1 {
  color: antiquewhite;
}

@media (min-width: 600px) {
  .tattoo-card {
    height: 350px;
  }
}

.tattoo-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

.tattoo-card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

/* .tattoo-card:nth-child(1):before {
  background-image: url(/images/pricing-pics/1.jpeg);
} */
.tattoo-card:nth-child(1):before {
  background-image: url(../images/pricing-pics/1.jpeg);
}

.tattoo-card:nth-child(2):before {
  background-image: url(../images/pricing-pics/2.jpeg);
}

.tattoo-card:nth-child(3):before {
  background-image: url(../images/pricing-pics/3.jpeg);
}

.tattoo-card:nth-child(4):before {
  background-image: url(../images/pricing-pics/4.jpeg);
}

.tattoo-card:nth-child(5):before {
  background-image: url(../images/pricing-pics/5.jpeg);
}

.tattoo-card:nth-child(6):before {
  background-image: url(../images/pricing-pics/6.png);
}

.tattoo-card:nth-child(7):before {
  background-image: url(../images/pricing-pics/7.jpeg);
}

.tattoo-card:nth-child(8):before {
  background-image: url(../images/pricing-pics/8.jpeg);
}

.tattoo-card:nth-child(9):before {
  background-image: url(../images/pricing-pics/9.jpeg);
}

.tattoo-card:nth-child(10):before {
  background-image: url(../images/pricing-pics/10.jpeg);
}

.tattoo-card:nth-child(11):before {
  background-image: url(../images/pricing-pics/11.jpeg);
}

.tattoo-card:nth-child(12):before {
  background-image: url(../images/pricing-pics/12.jpeg);
}

.tattoo-card:nth-child(13):before {
  background-image: url(../images/pricing-pics/13.jpeg);
}

.tattoo-card:nth-child(14):before {
  background-image: url(../images/pricing-pics/14.jpeg);
}

.tattoo-card:nth-child(15):before {
  background-image: url(../images/pricing-pics/15.jpeg);
}

.tattoo-card:nth-child(16):before {
  background-image: url(../images/pricing-pics/16.jpeg);
}

.tattoo-card:nth-child(17):before {
  background-image: url(../images/pricing-pics/17.jpeg);
}

.tattoo-card:nth-child(18):before {
  background-image: url(../images/pricing-pics/18.jpeg);
}

.tattoo-card:nth-child(19):before {
  background-image: url(../images/pricing-pics/19.jpeg);
}

.tattoo-card:nth-child(20):before {
  background-image: url(../images/pricing-pics/20.jpeg);
}

.tattoo-card:nth-child(21):before {
  background-image: url(../images/pricing-pics/21.jpeg);
}

.tattoo-card:nth-child(22):before {
  background-image: url(../images/pricing-pics/22.jpeg);
}

.tattoo-card:nth-child(23):before {
  background-image: url(../images/pricing-pics/23.png);
}

.tattoo-card:nth-child(24):before {
  background-image: url(../images/pricing-pics/24.jpeg);
}

.tattoo-card:nth-child(25):before {
  background-image: url(../images/pricing-pics/25.jpeg);
}

.tattoo-card:nth-child(26):before {
  background-image: url(../images/pricing-pics/26.jpeg);
}

.tattoo-card:nth-child(27):before {
  background-image: url(../images/pricing-pics/27.jpeg);
}

.tattoo-card:nth-child(28):before {
  background-image: url(../images/pricing-pics/28.jpeg);
}

.content1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}

.content1>*+* {
  margin-top: 1rem;
}

.title1 {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy1 {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn1 {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: black;
  background-color: #0d7377;
  border: none;
}

.btn1:hover {
  background-color: white;
  color: #0d7377;
}

/* .btn1:focus {
  outline: 1px dashed ;
  outline-offset: 3px;
} */

@media (hover: hover) and (min-width: 600px) {
  .tattoo-card:after {
    transform: translateY(0);
  }

  .content1 {
    transform: translateY(calc(100% - 4.5rem));
  }

  .content1>*:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .tattoo-card:hover,
  .tattoo-card:focus-within {
    align-items: center;
  }

  .tattoo-card:hover:before,
  .tattoo-card:focus-within:before {
    transform: translateY(-4%);
  }

  .tattoo-card:hover:after,
  .tattoo-card:focus-within:after {
    transform: translateY(-50%);
  }

  .tattoo-card:hover .content1,
  .tattoo-card:focus-within .content1 {
    transform: translateY(0);
  }

  .tattoo-card:hover .content1>*:not(.title),
  .card:focus-within .content1>*:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .tattoo-card:focus-within:before,
  .tattoo-card:focus-within:after,
  .tattoo-card:focus-within .content1,
  .tattoo-card:focus-within .content1>*:not(.title) {
    transition-duration: 0s;
  }
}

@media screen and (max-width: 640px) {
  .tattoo-card {
    height: 400px;
    width: 100%;
  }

  .tattoo-card:after {
    transform: translateY(0);
  }

  .content1 {
    transform: translateY(calc(100% - 4.5rem));
  }

  .content1>*:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .tattoo-card:hover,
  .tattoo-card:focus-within {
    align-items: center;
  }

  .tattoo-card:hover:before,
  .tattoo-card:focus-within:before {
    transform: translateY(-4%);
  }

  .tattoo-card:hover:after,
  .tattoo-card:focus-within:after {
    transform: translateY(-50%);
  }

  .tattoo-card:hover .content1,
  .tattoo-card:focus-within .content1 {
    transform: translateY(0);
  }

  .tattoo-card:hover .content1>*:not(.title),
  .card:focus-within .content1>*:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .tattoo-card:focus-within:before,
  .tattoo-card:focus-within:after,
  .tattoo-card:focus-within .content1,
  .tattoo-card:focus-within .content1>*:not(.title) {
    transition-duration: 0s;
  }
}






h1,
h2,
h3,
h4,
h5,
h6 {
  cursor: pointer;
}




/* Body */

#containerp {
  width: 80%;
  /* min-width:1100px;
  min-height:500px; */
  margin: 3% auto 0 auto;
}

.pricetab {
  width: 18%;
  min-width: 220px;
  background: linear-gradient(#555, #444);
  float: left;
  margin-top: 2%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}

.pricetabmid {
  width: 18%;
  min-width: 220px;
  background: linear-gradient(#0d7377, #08575a);
  float: left;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
  position: relative;
}

.priceheader {
  width: 100%;
  height: 60px;
  background-image: -o-linear-gradient(bottom, #444, #555);
  background-image: -webkit-linear-gradient(bottom, #444, #555);
  background-image: -o-linear-gradient(bottom, #444, #555);
  background-image: -moz-linear-gradient(bottom, #444, #555);
  background-image: linear-gradient(to bottom, #444, #555);
  box-shadow: 0 2px 12px rgba(0, 0, 0, .5);
}

.price {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid #0d7377;
  margin: 5% auto 0 auto;
  text-align: center;
}

.pricemid {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid #444;
  margin: 5% auto 0 auto;
  text-align: center;
}

.infos {
  margin-top: 10%;
}

.pricefooter {
  width: 100%;
  height: 50px;
  margin-top: 10%;
  background: #333;
}

.pricefootermid {
  width: 100%;
  height: 50px;
  margin-top: 10%;
  background: #0d7377;
}

.author {
  width: 10%;
  min-width: 150px;
  height: 40px;
  background: rgba(0, 0, 0, .5);
  overflow: hidden;
  clear: both;
  float: right;
  position: fixed;
  bottom: 0;
  right: 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.author:hover {
  background: rgba(0, 0, 0, .8);
}

.author:hover .credit {
  margin-left: 10%;
}

/* Typo */
.p-title {
  font-family: arial;
  color: #fff;
  font-size: 38px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 2px 5px rgba(0, 0, 5, 0.2);
  margin: auto;
}

.pricetab h1,
.pricetabmid h1 {
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 3;
  margin-top: 25px;


}

.pricetab h2,
.pricetabmid h2 {
  text-align: center;
  font-size: 30px;
  color: #fff;
  justify-content: center;
  padding-top: 40px;
}

/* h3 span {
    justify-content: left;
    align-items: start;
} */
sub {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

h3 {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  color: #fff;
  line-height: 1;
  padding: 7px 0;
}

.button a {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  line-height: 3;
}

.buttonmid a {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  line-height: 3;
}

.credit {
  font-family: arial;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  text-shadow: 1px 2px 5px rgba(0, 0, 5, 0.2);
  margin-left: 5%;
  line-height: 1.3;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* Buttons */
.button {
  width: 50%;
  height: 50px;
  margin: 0 auto 0 auto;
  background: #0d7377;
  text-align: center;
  border-radius: 12px;
  cursor: pointer;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.button:hover {
  width: 60%;
}

.buttonmid {
  width: 50%;
  height: 50px;
  margin: 0 auto 0 auto;
  background: #333;
  text-align: center;
  border-radius: 12px;
  cursor: pointer;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.buttonmid:hover {
  width: 60%;
}

#chart {
  height: 100%;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: #242323;
  margin-top: 2rem;

}

.content-table {
  border-collapse: collapse;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
  font-size: 1em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  left: 29%;
  position: relative;
  box-shadow: 0 0 20px rgba(55, 205, 127, 0.15);

}

.content-table thead tr {
  background-color: #0d7377;
  color: white;
  text-align: center;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 45px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddd;
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 4px solid #0d7377;
}

@media (max-width: 576px) {
  #containerp {
    display: block;
    /* margin: 0; */
    height: 100%;
    max-width: 80vw;

  }

  .pricetab {
    display: block;
    width: 80vw;
    justify-content: center;
    position: relative;
    float: none;
    margin: 20px 0;
  }

  .pricetabmid {
    float: none;
    width: 80vw;
    justify-content: center;
  }

  .content-table {
    justify-self: center;
    font-size: 0.7em;
    left: 0;
    margin-left: 0;

  }

  .content-table th,
  .content-table td {
    padding: 12px 30px;
  }
}

@media (min-width: 540px) and (max-width:920px) {
  .pricetab {
    width: 15%;
    float: none;
    margin-left: 20px;
    display: inline-block;

  }

  .pricetabmid {
    width: 15%;

  }

  .content-table {
    left: 20%;
  }


}